


<div style="background-image: url('https://firebasestorage.googleapis.com/v0/b/fundle-f51a5.appspot.com/o/assets%2F30ff07936ec8c506f7dd18a7d5d03814.jpg?alt=media&token=14fe350e-3f6b-4747-ae1b-3947861420a7');">
<div class="main" style="background: url('https://media.giphy.com/media/djR6hGcZxt9m/source.gif');">

    <div class="start">
        <div class="title"><img src="../../assets/images/trending101.png" height="200px"></div>
        <div class="information" style="margin:5vh">
            <div class="cards" style="background-color: white; margin:5vh;">
                 <ol>
                    <li>{{myTimeline[0].name}}</li>
                    <li class="even-1">{{myTimeline[19].name}}</li>
                    <li>{{myTimeline[20].name}}</li>
                    <li class="even-1">{{myTimeline[24].name}}</li>
                    <li >{{myTimeline[25].name}}</li>
                    <li class="even-1">{{myTimeline[29].name}}</li>
                    <li>{{myTimeline[33].name}}</li>
                    <li class="even-1">{{myTimeline[6].name}}</li>
                    <li >{{myTimeline[7].name}}</li>
                    <li class="even-1">{{myTimeline[8].name}}</li>
                    <li>{{myTimeline[9].name}}</li>
                   
                </ol>
            </div>
           
        </div>
    </div>
</div>
</div>